@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
*{
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Lato', sans-serif;
}

.parent-container{
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 100vh;
}

.top-container{
  padding-top: 15px;
  max-width: 600px;
  background: #f0eded;
  height: 100vh;
}

/*TODOFORM STYLES START*/

.app-title{
  font-family: 'Lato', sans-serif;
  font-size: 36px;
  border: 1px solid #0e0e0e;
  margin: 0 auto 10px auto;
  background: #ffffff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 2px rgba(0,0,0,0.23);
  max-width: 400px;
}

.todo-form{
  max-width: 400px;
  margin: 15px auto 10px auto;
}
/*TODOFORM STYLES END*/

/*TODOLIST STYLE START*/
.todo-list {
  margin: 0 auto 0 auto;
  background: #e8e8e8;
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.todo {
  background: #fff;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding: 3px 10px;
  font-size: 16px;
  margin-bottom: 6px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.2s ease;
}

.todo:hover{
  background: #dbdbdb;
}

.todo-text{
  margin-left:0;
}
/*TODOLIST STYLE END*/


